Corsi-VVF-ejb/src/wsdl/localhost_8080/ActiveDirectoryServiceService/ActiveDirectoryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.corsivvf.app.abr.dipvvf.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.corsivvf.app.abr.dipvvf.it/" name="ActiveDirectoryServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.corsivvf.app.abr.dipvvf.it/" schemaLocation="http://localhost:8080/ActiveDirectoryServiceService/ActiveDirectoryService?xsd=1"/>
</xsd:schema>
</types>
<message name="checkUser">
<part name="parameters" element="tns:checkUser"/>
</message>
<message name="checkUserResponse">
<part name="parameters" element="tns:checkUserResponse"/>
</message>
<message name="getUserAttribute">
<part name="parameters" element="tns:getUserAttribute"/>
</message>
<message name="getUserAttributeResponse">
<part name="parameters" element="tns:getUserAttributeResponse"/>
</message>
<message name="getUserGroups">
<part name="parameters" element="tns:getUserGroups"/>
</message>
<message name="getUserGroupsResponse">
<part name="parameters" element="tns:getUserGroupsResponse"/>
</message>
<portType name="ActiveDirectoryService">
<operation name="checkUser">
<input wsam:Action="http://ws.corsivvf.app.abr.dipvvf.it/ActiveDirectoryService/checkUserRequest" message="tns:checkUser"/>
<output wsam:Action="http://ws.corsivvf.app.abr.dipvvf.it/ActiveDirectoryService/checkUserResponse" message="tns:checkUserResponse"/>
</operation>
<operation name="getUserAttribute">
<input wsam:Action="http://ws.corsivvf.app.abr.dipvvf.it/ActiveDirectoryService/getUserAttributeRequest" message="tns:getUserAttribute"/>
<output wsam:Action="http://ws.corsivvf.app.abr.dipvvf.it/ActiveDirectoryService/getUserAttributeResponse" message="tns:getUserAttributeResponse"/>
</operation>
<operation name="getUserGroups">
<input wsam:Action="http://ws.corsivvf.app.abr.dipvvf.it/ActiveDirectoryService/getUserGroupsRequest" message="tns:getUserGroups"/>
<output wsam:Action="http://ws.corsivvf.app.abr.dipvvf.it/ActiveDirectoryService/getUserGroupsResponse" message="tns:getUserGroupsResponse"/>
</operation>
</portType>
<binding name="ActiveDirectoryServicePortBinding" type="tns:ActiveDirectoryService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ActiveDirectoryServiceService">
<port name="ActiveDirectoryServicePort" binding="tns:ActiveDirectoryServicePortBinding">
<soap:address location="http://localhost:8080/ActiveDirectoryServiceService/ActiveDirectoryService"/>
</port>
</service>
</definitions>